autopep8==1.6.0
certifi==2020.12.5
chardet==4.0.0
click==8.1.3
colorama==0.4.5
et-xmlfile==1.1.0
excel2json-3==0.1.6
Flask==2.1.2
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
openpyxl==3.0.7
pycodestyle==2.8.0
requests==2.25.1
toml==0.10.2
urllib3==1.26.4
Werkzeug==2.1.2
xlrd==2.0.1
zipp==3.8.0
